/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 12px Verdana;
list-style-type: none;
overflow: hidden;
width: 500px;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 3px 10px 3px 10px; /*padding inside each tab*/
color: white;
background: #7da92f;
}


.mattblackmenu li a:hover{
background:  #7da92f; /*background of tabs for hover state */
}

.mattblackmenu a.selected{
background: #7da92f; /*background of tab with "selected" class assigned to its LI */
}