<div class="row post">
    <div class="post-img">
        <img src="imgs/dummy.jpg">
    </div>
    <div class="post-right-column">
        <div class="post-content">
            <h1>{{post.title}}</h1>
            <p>{{post.desc}}
            </p>
        </div>
        <div class="social-cluster">
            <ul class="social-cluster-list">
                <li class="likes">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                    <p class="like-count">{{post.likes}}</p>
                </li>
                <li class="comments">
                    <span class="glyphicon glyphicon-comment"></span>
                    <p class="comment-count">{{post.comments}}</p>
                </li>
                <li class="share">
                    <span class="glyphicon glyphicon-share"></span>
                    <p class="share-count">{{post.shares}}</p>
                </li>
                <li class="post-meta">
                    <span class="glyphicon glyphicon-time"></span>
                    <p>{{post.created | fromNow }}</p>
                </li>
            </ul>
        </div>
    </div>
    <span class="post-end"></span>
    <hr/>
</div>